// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body#destination-body {
    @include respond-to('small') {
        background-image: image('destination/background-destination-mobile.jpg');
    }

    @include respond-to('medium') {
        background-image: image('destination/background-destination-tablet.jpg');
    }

    @include respond-to('large') {
        background-image: image('destination/background-destination-desktop.jpg');
    }

    main {
        padding: 0 40px;

        h3 {
            @include nav-text();
            margin-bottom: unset;
            text-align: left;
            font-size: 20px;

            .number {
                font-weight: bold;
                font-size: 1.2em;
                color: $dark-grey;
                margin-right: 10px;
            }

            @include respond-to('small') {
                text-align: center;
                font-size: 16px;
            }

            @include respond-to('medium') {
                font-weight: normal;
            }
        }

        h2 {
            @include heading(2);
            margin: unset;
            margin-top: 20px;

            @include respond-to('small') {
                @include heading(3);
            }
        }

        .destination-planet {
            width: 50%;
            margin: 60px;
            @include respond-to('small') {
                margin: 30px;
            }

            @include respond-to('medium') {
                width: 40%;
            }
        }

        .col-6:nth-child(2) {
            @include respond-to('medium') {
                padding: 0 90px;
            }
        }
        
        .destination-links {
            @include sub-heading(2);
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 60vw;

            a {
                padding-bottom: 10px;
                transition: all .2s;

                &:hover {
                    border-bottom: 4px solid white;
                }
            }

            @include respond-to('medium') {
                max-width: 35vw;
                font-weight: normal;
            }
        }

        .separator {
            height: 1px;
            width: auto;
            background-color: rgb(170, 170, 170);
            margin: 60px 0 30px;
            
            @include respond-to('small') {
                margin: 30px 0;
            }
        }

        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            margin: auto;

            &>div {
                margin-bottom: 25px;

                .label {
                    @include sub-heading(2);
                }

                .value {
                    @include sub-heading(1);
                }
            }

            @include respond-to('small') {
                flex-direction: column;
            }
        }

        @include respond-to('small') {
            padding: 0 25px;
        }

    }

}