// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
    @include respond-to('small') {
        background-image: image('home/background-home-mobile.jpg');
    }

    @include respond-to('medium') {
        background-image: image('home/background-home-tablet.jpg');
    }

    @include respond-to('large') {
        background-image: image('home/background-home-desktop.jpg');
    }

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    text-align: center;

    h1 {
        display: block;
        font-weight: normal;
        margin-top: 30px;
        
        div:nth-child(1) {
            @include sub-heading(2);
            margin-top: 20px;
        }

        div:nth-child(2) {
            @include heading(2);
            margin: 20px 0;
        }

        @include respond-to('medium') {
            margin-top: 100px;
            
            div:nth-child(1) {
                @include sub-heading(4);
                font-size: 20px;
                margin-top: 20px;
            }
            div:nth-child(2) {
                @include heading(1);
                margin: 20px 0;
            }
        }
    }

    p {
        max-width: 390px;
        padding: 0 20px;
        margin: auto;

        @include respond-to('medium') {
            line-height: 1.6;
        }
    }

    @include respond-to('medium') {

    }

}

.circular-btn-1 {
    @include heading(4);
    @include flex-center;
    color: $brand-color;
    background-color: white;
    height: 50px;
    width: 50px;    
    border-radius: 50%;
    padding: 100px;
    margin: auto;
    margin-top: 40px;
    transition: box-shadow .6s ease-out;
    scale: .7;

    &:hover {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.2);
    }

    @include respond-to('medium') {
        margin-top: 140px;
        margin-bottom: 120px;
        scale: 1.2;
    }
}
