// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .logo {
        object-fit: none;
        margin: 20px;
        margin-left: 40px;

        @include respond-to('small') {
            margin-left: 20px;
        }

        @include respond-to('large') {
            margin: 10px 20px;
        }
    }

    .line {
        display: none;
    }
    
    .hamburger_container {
        display: none;
        padding: 20px;
        align-self: center;
        z-index: 2;
        
        input[type=checkbox] {
            display: none;
            position: relative;
            left: 23px;
        }

        .nav_close {
            display: none;
        }

        @include respond-to('small') {
            display: block;
        }
    }

    nav {
        @include nav-text;
        display: flex;
        width: 60%;

        a {
            padding-left: 40px;
            margin-bottom: 30px;

            .number {
                font-weight: 800;
                margin-right: 10px;
            }
        }
        
        @include respond-to('small') {
            @include glass-background;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            overflow: hidden;
            padding-top: 120px;
            transition: 0.5s;
            
            display: flex;
            flex-direction: column;
            
        }

        @include respond-to('medium') {
            @include flex-center;
            @include glass-background(0.03);

            .number {
                display: none;
            }

            a {
                @include flex-center;
                height: 100%;
                padding: unset;
                margin: auto 20px;
                color: white;
                transition: 1s;

                &:hover {
                    border-bottom: solid white;
                }
            }
        }

        @include respond-to('large') {
            @include flex-center;
            @include glass-background(0.03);
            padding-left:  40px;
            padding-right:  20px;

            a {
                @include flex-center;
                height: 100%;
                padding: unset;
                margin: auto 20px;
                color: white;
                transition: 1s;

                &:hover {
                    border-bottom: solid white;
                }
            }
        }
    }

    @include respond-to('large') {
        margin-top: 30px;

        .line {
            display: block;
            height: 1px;
            width: 45%;
            background-color: gray;
            align-self: center;
            position: relative;
            left: 16px;
            z-index: 2;
        }
    }
}