// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    padding-top: 30px;

    .logo {
        min-width: fit-content;
    }

    .hamburger_container {
        display: none;
        align-self: center;
        z-index: 2;
        
        input[type=checkbox] {
            display: none;
            position: relative;
            left: 23px;
        }

        .nav_close {
            display: none;
        }

        @include respond-to('small') {
            display: block;
        }

        @include respond-to('medium') {
            display: none;
        }
    }


    nav {
        @include nav-text;

        ul {
            display: flex;
            list-style: none;
        }

        @include respond-to('small') {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow: hidden;
            padding-top: 120px;
            transition: 0.5s;
            @include glass-background;

            ul {
                display: block;
                height: 100%;
                margin-top: unset;

                li {
                    margin-bottom: 30px;

                    .number {
                        font-weight: 800;
                        margin-right: 10px;
                    }
                }
            }
        }

        @include respond-to('medium')  {
            position: static;
            width: min-content;
            padding: 0;
            ul {
                display: flex;
                flex-direction: row;
                
            }
        }
    }
}