// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $light-sky-blue;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none; // underlined
  }
}

ul {
  margin: unset;
  padding: unset;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include respond-to('large') {
    text-align: left;
    flex-direction: row;
    justify-content: center;
    margin: 40px 10% 0 10%;

    .col-6 {
      width: 50%;
    }
  }
}

p {
    line-height: 1.6;
    margin: auto;
}