// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Barlow Condensed';
    src: font('BarlowCondensed-Regular.ttf') format('ttf');
}

@font-face {
    font-family: Bellefair;
    src: font('Bellefair-Regular.ttf') format('ttf');
}