// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breapoints
@mixin respond-to ($breakpoint) {
  $raw-query: map-get($map: $breakpoints, $key: $breakpoint);

  @if $raw-query {
    $query: if (
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$raw-query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{breakpoint}`. '
      + 'Please make sure it is `$breakpoints` map.';
  }
}

/// Heading style
/// @access public
/// @param {Number} $numero - Numero
@mixin heading($numero) {
  /*
  $heading-fs: (
    1: 150px,
    2: 100px,
    3: 56px,
    4: 32px
  );
  */
  $heading-fs: (
    1: 150px,
    2: 80px, // 100
    3: 56px,
    4: 32px
  );
  
  @if ($numero == 5) {
    font-family: $second-font-stack;
    font-size: 28px;
    letter-spacing: 4.75px;
  } @else {
    color: white;
    font-family: $first-font-stack;
    font-size: map-get($heading-fs, $numero);
  }

  text-transform: uppercase;
  font-weight: normal;
}


/// Sub Heading style
/// @access public
/// @param {Number} $numero - Numero
@mixin sub-heading($numero) {
  
  @if ($numero == 1) {
    color: white;
    font-family: $first-font-stack;
    font-size: 28px;
  }
  
  @if ($numero == 2) {
    font-family: $second-font-stack;
    font-size: 16px; // 14
    letter-spacing: 2.35px;
  }
  
  text-transform: uppercase;
  font-weight: normal;
}

/// Nav Text style
/// @access public
@mixin nav-text {
  text-transform: uppercase;
  font-family: $second-font-stack;
  font-size: 16px;
  letter-spacing: 2.7px;
  font-weight: lighter;
}

@mixin body-text {
  font-family: $text-font-stack;
  font-size: 14px;
}

@mixin glass-background($opacity: 0.0, $blur: 40.6px) {
  background: rgba($color: #fff, $alpha: $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}